/* From Uiverse.io by Mr-Roy-alt */ 
.resetpass-form {
  background-color: white;
  padding: 3.125em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
  width: 23rem;
  margin: 0 auto;
}

.resetpass-signup {
  color: rgb(77, 75, 75);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0.5em;
}

.resetpass-form--input {
  width: 100%;
  margin-bottom: 1.25em;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.8em;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.resetpass-form--input:focus {
  border: 1px solid #639;
  outline: none;
}

.resetpass-form--marketing {
  display: flex;
  margin-bottom: 1.25em;
  align-items: center;
}

.resetpass-form--marketing > .resetpass-input-checkbox {
  margin-right: 0.625em;
}

.form--marketing > .resetpass-label-checkbox {
  color: grey;
}

.resetpass-label-checkbox, input[type="checkbox"] {
  accent-color: #639;
}

.resetpass-form--submit {
  width: 50%;
  padding: 0.625em;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: 1px dashed #639;
  cursor: pointer;
}

.resetpass-form--submit:hover {
  color: #639;
  background-color: white;
  border: 1px dashed #639;
  cursor: pointer;
  transition: 0.5s;
}