.policy-container {
    background-color: #4DBDEB;
    padding-top: 50px;
    .policy-title {
        text-align: center;
        margin: 24px 0;
        font-weight: bold;
    }
    .policy-content {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 24px;
        .card-img {
            width: 200px;
            margin: 10px auto;
        }
        .card-title {
            text-align: center;
        }
        .card-text {
            text-align: justify;
            height: 150px;
        }
    }
}