.HomeFeedback-container {
  background-image: url('../../assets/pic4.jpg');
  background-position: center;
  height: 700px;
  .HomeFeedback-title {
    text-align: center;
    margin: 30px 0;
    color: white;
  }
  .HomeFeedback-main {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    padding: 0 30px;
    .HomeFeedback-content {
      width: 30%;
      height: 500px;
      border: 1px solid black;
      border-radius: 10%;
      background-color: rgb(172, 179, 245);
      background
      .HomeFeedback-avatar-area {
        margin: 0 auto;
        .HomeFeedback-avatar {
          width: 100px;
          height: 100px;
          opacity: 1;
         
        }
      }
      
    }
  }
}
