.detail-result-container {
    .fact-container {
        background-color: #61E45D;
        display: flex;
        align-items: center;
        padding: 5px 0 5px 5px;
        border-radius: 20px;
        margin-bottom: 16px;

        .fact-text {
            color: #166419;
            font-weight: bold;
        }
    }

    .parttxt {
        font-weight: bold;
        font-size: 24px;
        margin: 10px 0;
    }

    .answer-container {
        display: flex;
        margin: 5px;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        .answer-btn {
            width: 40px;
            display: flex;
            justify-content: center;
        }

        .answer-text {
            font-weight: 500;
        }
    }

}