.result-container {
    background-color: #B0C9F1;
    padding: 20px 0;
    .main-content {
        width: 95%;
        margin: 0 auto;
        padding: 20px 3%;
        background-color: #fff;
        border-radius: 16px;
    }
    .comment-container {
        padding: 40px;
        /* From Uiverse.io by Satwinder04 */ 
        /* Input container */
        .comment-input-container {
            position: relative;
            margin: 20px;
        }
        
        /* Input field */
        .comment-input-field {
            display: block;
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: none;
            border-bottom: 2px solid #ccc;
            outline: none;
            background-color: transparent;
        }
        
        /* Input label */
        .comment-input-label {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 16px;
            color: rgba(204, 204, 204, 0);
            pointer-events: none;
            transition: all 0.3s ease;
        }
        
        /* Input highlight */
        .comment-input-highlight {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 0;
            background-color: #007bff;
            transition: all 0.3s ease;
        }
        
        /* Input field:focus styles */
        .comment-input-field:focus + .comment-input-label {
            top: -20px;
            font-size: 12px;
            color: #007bff;
        }
        
        .comment-input-field:focus + .comment-input-label + .comment-input-highlight {
            width: 100%;
        }
  
    }
}
