.result-title {
    font-weight: bold;
}

.result-content {
    margin-bottom: 24px;
    .card {
        text-align: center;
        border: 2px solid rgba(0, 0, 0, 0.175);
        box-shadow: 2px 2px 5px lightblue;
        .title-1 {
            color: green;
        }
        
        .title-2 {
            color: red;
        }
        
        .title-3 {
            color: purple;
        }
        
        .title-4 {
            color: gray;
        }
        
        .title-5 {
            color: yellow;
        }
        
        .title-6 {
            color: blue;
        }
    
        .result{
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 0;
        }
    }
}