.exam-container {
    background-color: #B0C9F1;
    padding: 20px 2.5%;
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 5px;

    .main-content {
        padding: 20px 3%;
        background-color: #fff;
        border-radius: 16px;

        .question-number {
            display: inline-block;
            background-color: #628ECB;
            color: #fff;
            font-size: 16px;
            line-height: 30px;
            width: 30px;
            text-align: center;
            border-radius: 50%;
            margin: 10px 0;
            font-weight: bold;
        }

        .question-title {
            display: inline;
            font-size: 1.25rem;
            margin-left: 5px;
        }

        .radio-option {
            display: flex;
            align-items: center;
            margin: 10px 10px 0;

            input[type='radio'] {
                margin-right: 10px;
                accent-color: #007bff;
                cursor: pointer;
            }

            label {
                font-size: 1rem;
                transition: color 0.3s;
                justify-content: center;
                align-items: center;
            }

            label:hover {
                color: #007bff;
            }
        }  
    }

    .tracking-content {
        padding: 20px 2%;
        background-color: #fff;
        border-radius: 16px;
    }
}