.footer-container {
    .row-footer {
        background-image: url('../../assets/footerbg/footerbg2.png');
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.5);
        background-position: center;
        width: 100vw;
        a.nav-link.active {
            color: #fff;
        }

        .icon {
            filter: grayscale(100%);
            transition: filter 0.5s ease;
            padding-right: 10px;
        }

        .icon-container {
            color: #fff;
            &:hover {
                text-decoration: underline;

                .icon {
                    filter: grayscale(0%);
                }
            }
        }
    }
}